@media screen and (max-width:900px){
    .blogs-main__news {
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "img"
        "info";
    }

    .blogs-main__news--info {
        padding: 40px 0;
    }

    .blogs-main__posts .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .blogs-main__posts h3 {
        grid-column: span 2;
    }

    .projects-container .grid-container {
        padding: 0 20px;
        padding-bottom: 60px;
        grid-template-columns: 1fr 1fr;
    }

    .projects-container h3 {
        grid-column: span 2;
    }

    .profile__hero .grid-container {
        grid-template-columns: 1fr;
        padding: 40px 20px;
        grid-gap: 20px;
    }

    .profile__hero h3, .profile__hero p {
        padding: 0 20px;
    }
}

@media screen and (max-width:600px){
    nav {
        padding: 0 20px;
    }

    .home-main section {
        margin-top: 20px;
    }

    .blogs-main__posts .grid-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .blogs-main__news {
        padding: 20px;
    }

    .blogs-main__posts h3 {
        grid-column: span 1;
    }
    .header-icons-container .icons {
        justify-self: center;
        margin: 0;
    }

    .blogpost-main-container {
        padding: 0 20px;
    }

    .contact-main-container .grid-container{
        padding: 40px 20px;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .projects-container .grid-container {
        grid-template-columns: 1fr;
    }

    .projects-container h3 {
        grid-column: span 1;
    }
}